/* div:first-child {
  color: blue;
}

div:first-of-type {
  background-color: blueviolet;
}

div:last-child {
  color: red;
}

div:last-of-type {
  background-color: aquamarine;
}

p:first-of-type {
  background-color: rebeccapurple;
} */
