a {
  text-decoration: none;
  color: inherit;
  /* text-shadow: 0 0 3px blue; */
}
/*
a:hover {
  text-shadow: 0 0 3px red;
}

div:hover {
  cursor: pointer;
} */

/* a:visited {
  color: red;
} */

a:active {
  color: yellow;
}
